@page "/listing"
@using Shared.Models;
@using Services.ListingsService;
@inject IListingsService listingservice


<h3>Create Listing</h3>

<EditForm Model="@aListing" OnSubmit="@HandleSubmit" class="row p-3">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="col-md-12 mb-3">
        <label for="Title">Title</label>
        <InputText id="Title" @bind-Value="aListing.Title" class="form-control"/>
    </div>

    <div class="col-md-12 mb-3">
        <label for="Price">Price</label>
        <InputNumber id="Price" @bind-Value="aListing.Price" class="form-control"/>
    </div>

    <div class="col-md-12 mb-3">
        <label for="Description">Description</label>
        <InputTextArea id="Description" @bind-Value="aListing.Description" class="form-control" />
    </div>

    <div class="col-md-6 mb-3">
        <label for="Category">Category</label>
        <InputText id="Category" @bind-Value="aListing.Category" class="form-control" />
    </div>

    <div class="col-md-6 mb-3">
        <label for="Status">Status</label>
        <InputText id="Status" @bind-Value="aListing.Status" class="form-control" />
    </div>

    <!-- Hjælp fra chatten -->
    <!--<div class="col-md-6 mb-3">
        <label for="OfferAmount">Offer Amount</label>
        <InputNumber id="OfferAmount" @bind-Value="aListing.OfferEmbedded.Amount" class="form-control" />
    </div> -->

    <div class="col-md-6 mb-3">
        <label for="LocationRoom">Location Room</label>
        <InputText id="LocationRoom" @bind-Value="aListing.LocationEmbedded.RoomNumber" class="form-control" />
    </div>

    <div class="col-md-6 mb-3">
        <label for="UserName">Username</label>
        <InputText id="UserName" @bind-Value="aListing.UserEmbedded.Name" class="form-control" />
    </div>

    <div class="col-12 mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</EditForm>

<!--Alle produkter vises i en liste nedenfor.
Fundet i Oles kode, muligvis ikke nødvendig

<h2>List of Products</h2>
<ul>
    @foreach (Listing l in nListings)
    {
        <li>@l.Title, @l.Price kr</li>
    }
</ul>
-->


@code {

    private Listing aListing = new()
    {
        OfferEmbedded = new Offer(),
        LocationEmbedded = new Location(),
        UserEmbedded = new User()
    };

    private List<Listing> nListings = new();

    private void HandleSubmit()
    {
        Console.WriteLine("HandleSubmit called");
        nListings.Add(aListing);
        aListing = new (){
            OfferEmbedded = new Offer(),
            LocationEmbedded = new Location(),
            UserEmbedded = new User()
        };
    }
    
}
