@page "/"
@using Services
@using Shared.Models
@using Modals
@inject Services.UserService.IUserService mUserService
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage


@if (loggedIn)
{
    <h2>Welcome to ‘The Marketplace’ at BAAA!</h2>
    <p>Discover The Marketplace — Where smart savings meet sustainable living. Buy and sell second-hand goods to reduce waste, cut costs, and give quality items a second life.</p>
    <TheMarketplace.Modals.LoginModal OnLoginStatusChanged="OnLoginStatusChanged" />

}
else
{
    <h2>Welcome to ‘The Marketplace’ at BAAA!</h2>

    <p>Discover The Marketplace — where smart savings meet sustainable living. Buy and sell second-hand goods to reduce waste, cut costs, and give quality items a second life.
        Once you’ve created a user, you will be able to view items for sale, list your own items and of course purchase items of your choosing. 
        BAAA will make some storage available as needed, further details can be read in the ”Storage”-tab upon logging in.</p>

    <TheMarketplace.Modals.LoginModal OnLoginStatusChanged="OnLoginStatusChanged" />
    <TheMarketplace.Modals.SignUpModal />
}


<p>Status of logging in: @loggedIn</p>





@code {
    private bool loggedIn;

    private bool GetLoginStatus()
    {
        loggedIn = mUserService.LoggedInMockStatus();
        return loggedIn;
    }

    protected override async Task OnInitializedAsync()
    {
        GetLoginStatus();
        Console.WriteLine($"A user logged in: {loggedIn}");
    }
    private void OnLoginStatusChanged(bool isLoggedIn)
    {
        loggedIn = isLoggedIn;
        Console.WriteLine($"Notified by child that status is now {loggedIn}");
        //StateHasChanged();
    }

}

