@page "/"
@using Services
@using Shared.Models
@using Modals
@inject Services.UserService.IUserService mUserService
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage


@if (loggedIn)
{
    <h2>Welcome to ‘The Marketplace’ at BAAA!</h2>
    <p>Discover The Marketplace — Where smart savings meet sustainable living. Buy and sell second-hand goods to reduce waste, cut costs, and give quality items a second life.</p>
    <TheMarketplace.Modals.LoginModal/>

}
else
{
    <h2>Welcome to ‘The Marketplace’ at BAAA!</h2>

    <p>Discover The Marketplace — where smart savings meet sustainable living. Buy and sell second-hand goods to reduce waste, cut costs, and give quality items a second life.
        Once you’ve created a user, you will be able to view items for sale, list your own items and of course purchase items of your choosing. 
        BAAA will make some storage available as needed, further details can be read in the ”Storage”-tab upon logging in.</p>

    <TheMarketplace.Modals.LoginModal/>
    <TheMarketplace.Modals.SignUpModal />
}




@code {
    bool loggedIn;

    protected override async Task OnInitializedAsync()
    {
        loggedIn = await mUserService.CheckLogin();
    }
    //Siden opdaterer ikke når man har trykket login, så loggedIn bliver ikke ændret. Løsning mangler. 

}

