@page "/clothesoverview"
@using ClothesClub.Interfaces
@using core
@using ClothesClub.Components.Cards
@inject IClothesService ClothingService
@rendermode InteractiveServer

<PageTitle>Clothing Overview</PageTitle>
@while (ItemsToDisplay is null)
{
    <p>Waiting for component to load</p>
}
<div class="container-fluid">
    
    <button class="btn btn-primary" data-toggle="modal" data-target="@"></button>
    @foreach (var clothingItems in ItemsToDisplay)
    {
        <ClothingItemCard @clothingItemToDisplay="@clothingItems"></ClothingItemCard>
        <button class="btn-primary" @onclick=" () => LentClothingItem(clothingItems)"></button>
    }
</div>

@code {
    List<ClothingItem>? ItemsToDisplay;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        RefreshList();
    }

    private void AddClothingItem()
    {
        
    }
    private void LentClothingItem(ClothingItem itemToLent)
    {
        ClothingService.LentOutClothingItem(itemToLent, ItemsToDisplay);
        RefreshList();
    }

    private void RefreshList()
    {
        ItemsToDisplay = ClothingService.GetAll(ItemsToDisplay);
    }



}
