@page "/clothesoverview"
@using ClothesClub.Interfaces
@using core
@inject IClothesService ClothingService
@rendermode InteractiveServer

<PageTitle>Clothing Overview</PageTitle>
@while (ItemsToDisplay is null)
{
    <p>Waiting for component to load</p>
}
@foreach (var clothingItems in ItemsToDisplay)
{
    <ClothesClub.Components.Cards.ClothingItemCard @clothingItemToDisplay="@clothingItems"></ClothesClub.Components.Cards.ClothingItemCard>
    <button class="btn-primary" @onclick=" () => LentClothingItem(clothingItems)"></button>
}
@code {
    List<ClothingItem> ItemsToDisplay;
    List<ClothingItem> LentedItems;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        RefreshList();
    }

    private void LentClothingItem(ClothingItem itemToLent)
    {
        ClothingService.LentOutClothingItem(itemToLent);
        RefreshList();
    }

    private void RefreshList()
    {
        ItemsToDisplay = ClothingService.GetAll();
    }



}
