@page "/"

@if (loggedIn)
{
    <h1>Welcome, you are logged in!</h1>
}
else
{
    <h1>Please log in</h1>
}

<button class="btn btn-outline-primary" type="button" id="button-addon2" @onclick="onClick">
    @buttonText
</button>
<p>@loggedIn</p>


<!--<TheMarketplace.Components.Modals.LoginModal/>-->


@code {
    bool loggedIn = false;
    string buttonText => loggedIn ? "Log out" : "Log in";

    private void onClick()
    {
        loggedIn = !loggedIn;

        Console.WriteLine($"Logged In: {loggedIn}");

        StateHasChanged();
    }
}

